/* -----GENERAL VARIABLES------ */
:root {
  --main-font: "univia-pro";
}


/* -----GENERAL STYLES------------ */

* {
  font-family: var(--main-font);
}

html,
html body,
body #main-container {
  width: 100% !important;
  min-width: 0 !important;
  max-width: none !important;
  overflow-x: hidden;
}


html {
  /* border: 3px solid green; */
  width: 100%;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

section {
  margin: 0;
  padding: 0;
}

/* ----- NAV BAR STYLING-------- */

nav {
  /* Layout Properties */
  /* border: 3px solid yellow; */
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 30px;
  left: 10vw;
  /* right: 10vw; */
  margin: auto;
  width: 80vw;
  height: 65px;
  /* margin-left: 37px; */
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 5px #00000043;
  box-shadow: 0px 2px 5px #00000043;
  opacity: 1;
  overflow: hidden;
  z-index: 9;
}

nav a img {
  /* border: 3px solid yellow; */
  margin: auto;
}

nav a {
  /* border: 3px solid greenyellow; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #0d4269;
  /* border: 3px solid greenyellow; */
}

/* Change the color of links on hover */
nav a:hover {
  cursor: pointer;
}

/* Hide the link that should open and close the topnav on small screens */

nav #logo {
  width: 114px;
  /* border: 3px solid yellowgreen; */
}

nav #icon-navbar {
  color: #0d4269;
  font-size: 14px;
  vertical-align: middle;
  /* border: 3px solid orange; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}

#icon-navbar.fa.fa-bars::before {
  color: #0d4269;
  font-size: 14px;
  vertical-align: middle;
  /* border: 3px solid green; */
}

nav #icon-navbar strong {
  font-family: var(--main-font);
  /* border: 3px solid yellow; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2;
  padding-left: 4px;
  /* vertical-align: middle; */
  /* margin-bottom: 10px; */
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media only screen and (max-width: 767px) {
  nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 15px;
  }

  nav a:not(:first-child) {
    display: none;
  }

  nav a:nth-child(2) {
    /* border: 3px solid yellow; */
    /* border-top: 1px solid grey; */
    width: 100%;
    -webkit-box-shadow: 0px -6px 5px -4px #0000002c;
    box-shadow: 0px -6px 5px -4px #0000002c;
    padding-top: 30px;
  }

  nav i {
    float: right;
    display: block;
  }

  nav.responsive {
    /* position: absolute; */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    top: 0;
    left: 0;
    z-index: 10;
    /* transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
    /* transform: translateX(100%);
        transition: transform .3s;
        will-change: transform; */

    -webkit-animation: slide-in-right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: slide-in-right 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }

  nav.responsive .button {
    color: white;
    border-radius: 8px;
    padding: 10px 40px;
    margin: 10px 0;
    /* TEMPORARY CHANGES */
    display: none;
  }

  #cta-entrar.responsive {
    display: none;
  }

  nav.responsive #icon-navbar {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 300;
  }

  nav.responsive a {
    float: none;
    display: block;
    font-size: 12px;
    color: #0d4269;
    font-weight: 500;

    /* padding-top: 3px; */
    /* text-align: left; */
  }

  nav.responsive a:hover {
    cursor: pointer;
  }
}

#cta-entrar {
  border-radius: 0;
  font-size: 10px;
  font-weight: 500;
  color: #00cde1;
  background-color: white;
  /* border: 0; */
  border-right: 1px solid #d7dbdb;
  margin-right: 10px;
  height: 16px;
  padding: 0 10px 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  /* TEMPORARY CHANGES */
  display: none;
}

#separator-entrar {
  display: none;
  /* color: #D7DBDB; */
}

/* -----HEADER STYLING----------- */

header {
  background-image: url("../images/luis-quintero-Fpyn4zHIxEU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  height: 330px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 0;
  padding: 0;
  text-align: left;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#gradient-div {
  height: 30%;
  width: calc(100vw-45px);
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, -1, 0, 0);
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent -webkit-gradient(linear,
      left top,
      left bottom,
      from(#00cde1),
      to(#00cde100)) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(top, #00cde1 0%, #00cde100 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #00cde1 0%, #00cde100 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding: 25px 45px;
}

#gradient-div h1 {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  color: white;
  font-size: 20px;
}

/* ------GENERAL SECTIONS STYLING------- */

.section-container {
  /* border: 3px solid red; */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
  overflow: hidden;
  /* padding-top: 20px;
  padding-bottom: 20px; */

  min-height: 45vh;
}

.section-container p {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

.section-container h2 {
  font-size: 16px;
  text-align: left;
  /* border: 3px solid white; */
}

.underlined-title {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.button {
  background-color: #00cde1;
  color: white;
  -webkit-box-shadow: 0px 2px 5px #00000029;
  box-shadow: 0px 2px 5px #00000029;
  padding: 20px;
}

/* ----SPECIIC SECTIONS---- */
#logo-image {
  background: transparent url("../images/brooke-cagle-with-logo.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
  min-height: 250px;
  background-position: center;
  border: 0;
}

#credito-facil {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 25px 25px;
  width: calc(100% - 50px);
}

#credito-facil h2 {
  /* border-top: 1px solid #00cde1; */
  padding: 10px;
  letter-spacing: 0;
  color: #00cde1;
  opacity: 1;
}

#credito-facil p {
  letter-spacing: 0;
  color: #0d4269;
  opacity: 1;
}

#credito-facil #big-logo {
  width: 183px;
  padding-bottom: 20px;
  border-bottom: 1px solid #00cde1;
}

#cta-credito-quero {
  text-align: center;
  background: #00cde1 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000029;
  border-radius: 8px;
  /* border: 3px solid yellowgreen; */
  color: white;
  font-weight: 700;
  font-size: 16px;
  /* margin: 50px auto 50px auto; */
  /* padding: 0; */
  margin: 15px;
  display: none;
}

/* ------Somos uma ESC SECTION------- */

#somos-uma-ESC {
  background: #0d4269 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding: 100px 10vw;
  width: 80vw;
}

#somos-uma-ESC .underlined-title,
#contato .underlined-title {
  border-bottom: 1px solid #00cde1;
}

#missao {
  background: #00cde1 100% 0 no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding: 100px 10vw;
  width: 80vw;
}

#missao .underlined-title {
  border-bottom: 1px solid #0d4269;
}

/* ----- CONTATO SECTION ---- */

#contato {
  color: #0d4269;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: 500;
}

#contato a:hover {
  cursor: pointer;
}

#ANFAC-logo {
  width: 183px;
  height: 51px;
  background: url("./../images/Logo_ANFAC-horizontal.png")no-repeat;
  background-size: cover;
  margin-bottom: 40px;
  margin-top: 20px;
}

#email-telefone {
  border: 1px solid #0d4269;
  border-radius: 12px;
  opacity: 1;
  padding: 3vw;
  text-align: center;
  /* font: Regular 14px/24px Univia Pro; */
  font: Regular 14px/24px var(--main-font);
  color: #0d4269;
  opacity: 1;
}

#email-telefone a:link,
#email-telefone a:visited {
  text-decoration: none;
  color: #0d4269;
  cursor: pointer;
}




#email-telefone p {
  text-align: center;
  letter-spacing: 0;
  line-height: 0.5;
  font-size: 14px;
}

.centered-div {
  margin: auto;
  text-align: center;
  width: 80vw;
}

#address p {
  /* border: 3px solid yellowgreen; */
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 3px;
}

#social-media {
  /* border: 3px solid yellowgreen; */
  margin: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#social-media img {
  padding: 0 10px;
}

#footer {
  background: #d7dbdb 0% 0% no-repeat padding-box;
  opacity: 1;
  /* color: #828282; */
  padding: 1vw 5vw;
  width: 90vw;
  margin: 0;
  /* TEMPORARY */
  /* min-height: 30vh; */
  min-height: 10vh;
}

#footer p {
  font-size: 10px;
  color: #828282;
  text-align: left;
}

#text-separator {
  display: none;
}

#cta-entrar-bigScreen {
  display: hidden;
}

/* footer {
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.75);
} */

/* ------------MEDIA QUERIES BEGIN--------------------------------- */
/* MEDIA QUERIES FOR I PAD LANDSCAPE AND PORTRAIT */

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  /* nav a {
    font: Medium 12px/16px "Univia-Pro";
  } */

  nav {
    min-width: 608px;
    max-width: 1008px;
    align-items: center;
  }

  nav a {
    font-weight: 500;
    /* border: 3px solid yellow; */
    line-height: 12px;
  }

  header {
    min-height: 50vh;
    /* border: 3px solid green; */
    font-size: 28px;
    /* width: 100%; */
    background-image: url("../images/luis-quintero-Fpyn4zHIxEU-unsplash@2x.jpg");
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  /* header {
    background-size: 100%;
  } */

  #gradient-div {
    /* border: 3px solid yellow; */
    height: 30%;
    width: calc(100vw-45px);
    padding: 25px 45px;
  }

  #gradient-div h1 {
    font-size: 40px;
    font-weight: 700;
    /* border: 3px solid yellow; */
    margin: auto;
    width: 70%;
    padding-bottom: 5%;
  }

  #credito-facil img#big-logo {
    width: 315px;
    margin-top: 20px;
  }

  #logo-image {
    min-height: 358px;
    background-image: url("../images/brooke-cagle-with-logo@2x.jpg");
  }


  #credito-facil,
  #somos-uma-ESC,
  #missao {
    min-height: 300px;
    /* border: 3px solid red; */
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #credito-facil h2,
  #somos-uma-ESC h2,
  #missao h2 {
    font-size: 25px;
  }

  #credito-facil,
  #somos-uma-ESC,
  #missao p {
    font-size: 16px;
    /* line-height: 1.6; */
  }

  #contato {
    min-height: 25vh;
  }

  #ANFAC-logo {
    width: 183px;
    height: 55px;
    background: url("./../images/Logo_ANFAC-horizontal.png")no-repeat;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  #contato #email-telefone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    width: fit-content;
  }

  #contato #email-telefone p {
    padding-right: 10px;
    padding-left: 10px;
  }

  #contato #address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* justify-items: center; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    /* border: 3px solid orange; */
  }

  #contato #address p {
    /* border: 3px solid greenyellow; */
    /* width: 30%; */
    /* min-width: 30%; */
    /* padding: 0; */
    margin: 0;
    width: fit-content;
    /* min-width: 30%; */
    padding: 3px;
    /* margin: 0; */
  }

  #footer {
    /* TEMPORARY */
    /* min-height: 10vh; */
    min-height: 5vh;
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #footer p {
    font-size: 12px;
  }

  nav i,
  i,
  #icon-navbar,
  nav #icon-navbar-container {
    display: none;
  }

  #text-separator {
    display: inline;
  }

  /* ---STYLING BUTTON ON NAV BAR-------- */

  #cta-entrar-bigScreen {
    background-color: #00cde1;
    color: white;
    -webkit-box-shadow: 0px 2px 5px #00000029;
    box-shadow: 0px 2px 5px #00000029;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 3%;
    /* TEMPORARY CHANGES */
    display: none;
  }
}

/* ------MEDIA QUERIES FOR MEDIUM SIZE DESKTOP COMPUTERS------ */

@media only screen and (min-width: 1201px) and (max-width: 1700px) {
  #icon-navbar {
    display: none;
  }

  header {
    min-height: 100vh;
    width: 100%;
    background-image: url("../images/luis-quintero-Fpyn4zHIxEU-unsplash@2x.jpg");
    /* background: transparent url('../images/brooke-cagle-NoRsyXmHGpI-unsplash@2x.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #gradient-div h1 {
    font-size: 50px;
    padding-right: 20%;
    padding-left: 20%;
    width: calc(100% - 40%);
  }

  .section-container h2 {
    font-size: 35px;
    line-height: 1.5;
  }

  nav {
    /* border: 3px solid yellow; */
    padding: 0 2vw;
    text-align: center;
    height: 80px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-line-pack: baseline;
    align-content: baseline;
    width: 70vw;
    /* max-width: 1200px; */
    /* min-width: 608px;
     */
    /* margin: auto; */
    left: 14vw;
  }

  nav a {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    /* border: 3px solid green; */
    padding: 0;
    margin: 0;
    /* border: 3px solid yellow */
  }

  nav #logo {
    width: 200px;
  }

  .section-container#credito-facil {
    /* border: 3px solid green; */
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #credito-facil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 650px;
  }

  #credito-facil #big-logo {
    width: 437px;
    border-bottom: 0;
    margin: 40px;
  }

  #credito-facil #two-columns-container {
    /* border-top: 1px solid #00cde1; */
    border-top: 2px solid #00cde1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: flex-start;
  }

  #credito-facil h2 {
    font-size: 35px;
    /* border: 3px solid yellow; */
    padding: 0;
    line-height: 49px;
  }

  #cta-credito-quero {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    /* TEMPORARY CHANGES */
    display: none;
  }

  #somos-uma-ESC h2,
  #missao h2 {
    font-size: 26px;
  }

  #credito-facil p,
  #somos-uma-ESC p,
  #missao p {
    font-size: 20px;
  }

  .two-columns {
    /* border: 3px solid yellow; */
    width: 47%;
    padding: 10px;
  }

  #somos-uma-ESC,
  #missao {
    min-height: 30vh;
    padding-right: 30%;
    padding-left: 30%;
    width: calc(100% - 60%);
  }

  #logo-image {
    height: 600px;
    min-height: 500px;
    background-size: cover;
    border: 0;
    background-position: center;
    background-image: url("../images/brooke-cagle-with-logo@2x.jpg");
  }

  #somos-uma-ESC p,
  #missao p {
    font-size: 20px;
  }

  #contato {
    padding-top: 2vw;
    padding-bottom: 2vw;
    /* font-weight: 500; */
  }

  #ANFAC-logo {
    width: 247px;
    height: 75px;
    background: url("./../images/Logo_ANFAC-horizontal@2x.png")no-repeat;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  #contato #email-telefone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 50px;
    width: fit-content;
  }

  #contato #email-telefone p {
    padding-right: 10px;
    padding-left: 10px;
  }

  #contato #email-telefone p,
  #contato #address p {
    font-size: 16px;
  }

  #contato .smedia-icon {
    width: 40px;
  }

  #contato #address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* justify-items: center; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    /* border: 3px solid orange; */
  }

  #contato #address p {
    /* border: 3px solid greenyellow; */
    width: fit-content;
    /* min-width: 30%; */
    padding: 3px;
    margin: 0;
  }

  #social-media {
    /* border: 3px solid yellowgreen; */
    margin: 1vw;
  }

  #social-media img {
    padding: 0 10px;
  }

  #footer {
    /* TEMPORARY */
    /* min-height: 8vh; */
    min-height: 4vh;
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #footer p {
    font-size: 12px;
  }

  #text-separator {
    display: inline;
  }

  nav i,
  i,
  #icon-navbar,
  nav #icon-navbar-container {
    display: none;
  }

  /* ---STYLING BUTTON ON NAV BAR-------- */
  .button {
    font: Bold 20px/28px var(--main-font);
  }

  #cta-entrar-bigScreen {
    padding: 12px;
    border-radius: 8px;
    font: Bold 16px/16px var(--main-font);
    min-width: 70px;
    /* TEMPORARY CHANGES */
    display: none;
  }
}

/* ------------------------------------------------------------ */
/* ------MEDIA QUERIES FOR BIGGER SCREEN DESKTOP COMPUTERS------ */

@media only screen and (min-width: 1701px) {
  #icon-navbar {
    display: none;
  }

  header {
    min-height: 100vh;
    /* border: 3px solid green; */
    font-size: 50px;
    width: 100%;
    /* background: transparent url('../images/brooke-cagle-NoRsyXmHGpI-unsplash@2x.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #gradient-div {
    /* border: 3px solid yellow; */
    height: 30%;
    width: calc(100vw-45px);
    padding: 25px 45px;
  }

  #gradient-div h1 {
    font-size: 84px;
    padding-right: 20%;
    padding-left: 20%;
    width: calc(100% - 40%);
  }

  .section-container p {
    font-size: 24px;
    line-height: 1.5;
  }

  .section-container h2 {
    font-size: 35px;
    line-height: 1.5;
  }

  nav {
    /* border: 3px solid yellow; */
    padding: 0 2%;
    text-align: center;
    height: 110px;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-line-pack: baseline;
    align-content: baseline;
    width: 60vw;
    /* max-width: 1200px; */
    /* min-width: 608px;
     */
    /* margin: auto; */
    left: 18vw;
  }

  nav a {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    /* border: 3px solid green; */
    padding: 0;
    margin: 0;
    /* border: 3px solid yellow */
  }

  nav #logo {
    width: 230px;
    margin-bottom: 6px;
  }

  .section-container#credito-facil {
    /* border: 3px solid green; */
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #credito-facil {
    /* padding-top: 110px;
    padding-bottom: 110px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* border: 3px solid green; */
    font-size: 35px;
    min-height: 700px;
    /* height: 60%; */
  }

  #credito-facil #big-logo {
    width: 537px;
    border-bottom: 0;
    margin: 60px;
  }

  #credito-facil #two-columns-container {
    /* border-top: 1px solid #00cde1; */
    border-top: 2px solid #00cde1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: space-between;
    align-items: flex-start;

    /* border-top: 1px solid green; */
  }

  #credito-facil h2 {
    font-size: 35px;
    /* border: 3px solid yellow; */
    padding: 0;
    line-height: 49px;
  }

  #cta-credito-quero {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 16px;
    /* TEMPORARY CHANGES */
    display: none;
  }

  #somos-uma-ESC h2,
  #missao h2 {
    font-size: 26px;
  }

  #credito-facil,
  #somos-uma-ESC,
  #missao p {
    font-size: 20px;
    /* line-height: 1.6; */
  }

  .two-columns {
    /* border: 3px solid yellow; */
    width: 47%;
    padding: 10px;
  }

  #somos-uma-ESC,
  #missao {
    padding-top: 140px;
    padding-bottom: 140px;
    min-height: 30vh;
    padding-right: 30%;
    padding-left: 30%;
    width: calc(100% - 60%);
  }

  #logo-image {
    height: 80vh;
    min-height: 550px;
    background-size: cover;
    border: 0;
    background-position: center;
    background-image: url("../images/brooke-cagle-with-logo@2x.jpg");
  }

  #somos-uma-ESC p,
  #missao p {
    font-size: 25px;
  }

  #contato {
    padding-top: 2vw;
    padding-bottom: 2vw;
    /* font-weight: 500; */
  }

  #ANFAC-logo {
    width: 247px;
    height: 75px;
    background: url("./../images/Logo_ANFAC-horizontal@2x.png")no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 30px;
    object-fit: cover;
  }

  #contato #email-telefone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 50px;
    width: fit-content;
  }

  #contato #email-telefone p {
    padding-right: 10px;
    padding-left: 10px;
  }

  #contato #email-telefone p,
  #contato #address p {
    font-size: 22px;
  }

  #contato .smedia-icon {
    width: 40px;
  }

  #contato #address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* justify-items: center; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    /* border: 3px solid orange; */
  }

  #contato #address p {
    /* border: 3px solid greenyellow; */
    width: fit-content;
    /* min-width: 30%; */
    padding: 3px;
    margin: 0;
  }

  #social-media {
    /* border: 3px solid yellowgreen; */
    margin: 1vw;
  }

  #social-media img {
    padding: 0 10px;
  }

  #footer {
    /* TEMPORARY */
    /* min-height: 8vh; */
    min-height: 4vh;
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #footer p {
    font-size: 12px;
  }

  #text-separator {
    display: inline;
  }

  nav i,
  i,
  #icon-navbar,
  nav #icon-navbar-container {
    display: none;
  }

  /* ---STYLING BUTTON ON NAV BAR-------- */
  .button {
    font: Bold 20px/28px var(--main-font);
  }

  #cta-entrar-bigScreen {
    padding: 20px;
    border-radius: 8px;
    font: Bold 16px/16px var(--main-font);
    min-width: 86px;
    /* TEMPORARY CHANGES */
    display: none;
  }
}

/* ---------STYLING THE 404 PAGE--------- */

#body-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

#container-404 {
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #f4f4f4;
  color: #0d4269;
  padding: 10%;
  width: 60%;
  margin: auto;
  min-width: 500px;
  text-align: center;
}

#container-404 h1 {
  color: #00cde1;
  font-size: 40px;
}

#container-404 a {
  color: #00cde1;
  font-weight: 500;
  text-decoration: none;
}