/* -----GENERAL STYLES------------ */

* {
  font-family: "univia-pro";
}

html,
html body,
body #main-container {
  width: 100vw !important;
  min-width: 0 !important;
  max-width: none !important;
  overflow-x: hidden;
}

html {
  /* border: 3px solid green; */
  width: 100vw;
  scroll-behavior: smooth;
}

section {
  margin: 0;
  padding: 0;
}

/* ----- NAV BAR STYLING-------- */

nav {
  /* Layout Properties */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 10vw;
  /* right: 10vw; */
  margin: auto;
  width: 80vw;
  height: 65px;
  /* margin-left: 37px; */
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #00000043;
  opacity: 1;
  overflow: hidden;
  z-index: 9;
}

nav a img {
  /* border: 3px solid yellow; */
  margin: auto;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #0d4269;
  /* border: 3px solid greenyellow; */
}

/* Change the color of links on hover */
nav a:hover {
  cursor: pointer;
}

/* Hide the link that should open and close the topnav on small screens */

nav #logo {
  width: 114px;
  /* border: 3px solid yellowgreen; */
}

nav #icon-navbar {
  color: #0d4269;
  font-size: 14px;
  vertical-align: middle;
  /* border: 3px solid orange; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  /* font-family: "univia-pro"; */
}

#icon-navbar.fa.fa-bars::before {
  color: #0d4269;
  font-size: 14px;
  vertical-align: middle;
  /* border: 3px solid green; */
  /* font-family: "univia-pro"; */
}

nav #icon-navbar strong {
  font-family: "univia-pro";
  /* border: 3px solid yellow; */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2;
  padding-left: 4px;
  /* vertical-align: middle; */
  /* margin-bottom: 10px; */
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  nav {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav a:not(:first-child) {
    display: none;
  }

  nav a:nth-child(2) {
    /* border: 3px solid yellow; */
    /* border-top: 1px solid grey; */
    width: 100%;
    box-shadow: 0px -6px 5px -4px #0000002c;
    padding-top: 30px;
  }

  nav i {
    float: right;
    display: block;
  }

  nav.responsive {
    /* position: absolute; */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    left: 0;
    z-index: 10;
    /* transform-origin: 0 0;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
    /* transform: translateX(100%);
        transition: transform .3s;
        will-change: transform; */
  }

  #cta-entrar.responsive {
    display: none;
  }

  nav.responsive i {
    position: absolute;
    right: 20px;
    top: 16px;
    font-weight: 300;
  }

  nav.responsive a {
    float: none;
    display: block;
    font-size: 12px;
    color: #0d4269;
    font-weight: 500;
    /* padding-top: 3px; */
    /* text-align: left; */
  }
}

#cta-entrar {
  border-radius: 0;
  font-size: 10px;
  font-weight: 500;
  color: #00cde1;
  background-color: white;
  /* border: 0; */
  border-right: 1px solid #D7DBDB;
  margin-right: 10px;
  height: 16px;
  padding: 0 10px 0 0;
  box-shadow: none;
}

#separator-entrar {
  display: none;
  /* color: #D7DBDB; */
}



/* -----HEADER STYLING----------- */

header {
  background-image: url("../images/luis-quintero-Fpyn4zHIxEU-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  height: 330px;
  width: 100%;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  text-align: left;
  justify-content: flex-end;
}

#gradient-div {
  height: 30%;
  width: calc(100vw-45px);
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(180deg, #00cde1 0%, #00cde100 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  text-orientation: mixed;
  transform: rotate(-180deg);
  padding: 25px 45px;
}

#gradient-div h1 {
  transform: rotate(-180deg);
  color: white;
  font-size: 20px;
}

/* ------GENERAL SECTIONS STYLING------- */

.section-container {
  /* border: 3px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  overflow: hidden;
  /* padding-top: 20px;
  padding-bottom: 20px; */

  min-height: 45vh;
}

.section-container p {
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

.section-container h2 {
  font-size: 16px;
  text-align: left;
  /* border: 3px solid white; */
}

.underlined-title {
  padding-bottom: 8px;
  border-bottom: 1px solid white;
}

.button {
  background-color: #00CDE1;
  color: white;
  box-shadow: 0px 2px 5px #00000029;
  padding: 20px;
}

/* ----SPECIIC SECTIONS---- */
#logo-image {
  background: transparent url("../images/big_logo2x.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  min-height: 30vh;
  border: 0;
}

#credito-facil {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 25px 25px;
  width: calc(100% - 50px);
}

#credito-facil h2 {
  /* border-top: 1px solid #00cde1; */
  padding: 10px;
  letter-spacing: 0;
  color: #00cde1;
  opacity: 1;
}

#credito-facil p {
  letter-spacing: 0;
  color: #0d4269;
  opacity: 1;
}

#credito-facil #big-logo {
  width: 183px;
  padding-bottom: 20px;
  border-bottom: 1px solid #00cde1;
}

/* ------Somos uma ESC SECTION------- */

#somos-uma-ESC {
  background: #0d4269 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #ffffff;
  /* font: Book 14px/20px Univia Pro; */
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding: 10vw 10vw;
  width: 80vw;
}

#somos-uma-ESC .underlined-title,
#contato .underlined-title {
  border-bottom: 1px solid #00cde1;
}

#missao {
  background: #00cde1 100% 0 no-repeat padding-box;
  opacity: 1;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  padding: 5vw 10vw;
  width: 80vw;
}

#missao .underlined-title {
  border-bottom: 1px solid #0d4269;
}

/* ----- CONTATO SECTION ---- */

#contato {
  color: #0d4269;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-weight: 500;
}

#contato a:hover {
  cursor: pointer;
}

#email-telefone {
  border: 1px solid #0d4269;
  border-radius: 12px;
  opacity: 1;
  padding: 3vw;
  text-align: center;
  font: Regular 14px/24px Univia Pro;

  color: #0d4269;
  opacity: 1;
}

#email-telefone p {
  text-align: center;
  letter-spacing: 0;
  line-height: 0.5;
  font-size: 14px;
}

.centered-div {
  margin: auto;
  text-align: center;
  width: 80vw;
}

#address p {
  /* border: 3px solid yellowgreen; */
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 3px;
}

#social-media {
  /* border: 3px solid yellowgreen; */
  margin: 5vw;
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
}

#social-media img {
  padding: 0 10px;
}

#footer {
  background: #d7dbdb 0% 0% no-repeat padding-box;
  opacity: 1;
  /* color: #828282; */
  padding: 1vw 5vw;
  width: 90vw;
  margin: 0;
  min-height: 30vh;
}

#footer p {
  font-size: 10px;
  color: #828282;
  text-align: left;
}

#text-separator {
  display: none;
}

#cta-entrar-bigScreen {
  display: hidden;
}

/* ------------MEDIA QUERIES BEGIN--------------------------------- */
/* MEDIA QUERIES FOR I PAD LANDSCAPE AND PORTRAIT */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    min-height: 50vh;
    /* border: 3px solid green; */
    font-size: 28px;
    /* width: 100%; */
    background-image: url("../images/luis-quintero-Fpyn4zHIxEU-unsplash@2x.png");
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #gradient-div {
    /* border: 3px solid yellow; */
    height: 30%;
    width: calc(100vw-45px);
    padding: 25px 45px;
  }

  #gradient-div h1 {
    font-size: 40px;
    font-weight: 700;
    /* border: 3px solid yellow; */
    margin: auto;
    width: 70%;
    padding-bottom: 5%;
  }

  header {
    background-size: 100%;
  }

  #credito-facil img#big-logo {
    width: 315px;
  }

  /* #credito-facil {
    width: 80%;
  } */

  #credito-facil,
  #somos-uma-ESC,
  #missao {
    min-height: 30vh;
    /* border: 3px solid red; */
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #credito-facil h2,
  #somos-uma-ESC h2,
  #missao h2 {
    font-size: 25px;
  }

  #credito-facil,
  #somos-uma-ESC,
  #missao p {
    font-size: 16px;
    /* line-height: 1.6; */
  }

  #contato {
    min-height: 25vh;
  }

  #contato #email-telefone {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    width: 60vw;
  }

  #contato #email-telefone p {
    padding-right: 10px;
    padding-left: 10px;
  }

  #contato #address {
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    /* border: 3px solid orange; */
  }

  #contato #address p {
    /* border: 3px solid greenyellow; */
    width: 30%;
    min-width: 30%;
    padding: 0;
    margin: 0;
  }

  #footer {
    min-height: 15vh;
    padding-right: 25%;
    padding-left: 25%;
    width: calc(100% - 50%);
  }

  #footer p {
    font-size: 12px;
  }

  nav i,
  i,
  #icon-navbar,
  nav #icon-navbar-container {
    display: none;
  }

  #text-separator {
    display: inline;
  }

  /* ---STYLING BUTTON ON NAV BAR-------- */
  .button {
    background-color: #00CDE1;
    color: white;
    box-shadow: 0px 2px 5px #00000029;
    padding: 20px;
  }

  #cta-entrar-bigScreen {
    background-color: #00CDE1;
    color: white;
    box-shadow: 0px 2px 5px #00000029;
    padding: 20px;
  }
}

/* ------------------------------------------------------------ */
/* ------MEDIA QUERIES FOR DESKTOP COMPUTERS------ */

@media only screen and (min-device-width: 1025px) {
  #icon-navbar {
    display: none;
  }

  header {
    min-height: 100vh;
    /* border: 3px solid green; */
    font-size: 50px;
    width: 100%;
    /* background: transparent url('../images/brooke-cagle-NoRsyXmHGpI-unsplash@2x.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #gradient-div {
    /* border: 3px solid yellow; */
    height: 30%;
    width: calc(100vw-45px);
    padding: 25px 45px;
  }

  #gradient-div h1 {
    font-size: 84px;
  }

  .section-container p {
    font-size: 24px;
    line-height: 1.5;
  }

  .section-container h2 {
    font-size: 35px;
    line-height: 1.5;
  }

  nav {
    /* border: 3px solid yellow; */
    text-align: center;
    height: 100px;
    justify-content: space-around;
    align-content: baseline;
  }

  nav a {
    font-size: 26px;
    font-weight: 600;
    /* border: 3px solid green; */
    padding: 0;
    margin: 0;
    /* border: 3px solid yellow */
  }

  nav #logo {
    width: 258px;
  }

  #credito-facil {
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    font-size: 35px;
    /* height: 40vh; */
  }

  #credito-facil #big-logo {
    width: 537px;
  }

  #credito-facil #two-columns-container {
    /* border-top: 1px solid #00cde1; */
    display: flex;
    align-items: center;
    width: 70vw;
  }

  #credito-facil h2,
  #somos-uma-ESC h2,
  #missao h2 {
    font-size: 26px;
  }

  .two-columns {
    /* border: 3px solid yellow; */
    width: 47%;
    padding: 10px;
  }

  #credito-facil,
  #somos-uma-ESC,
  #missao {
    min-height: 40vh;
    padding-right: 20%;
    padding-left: 20%;
    width: calc(100% - 40%);
  }

  #logo-image {
    min-height: 80vh;
    background-size: cover;
    border: 0;
  }

  #somos-uma-ESC p,
  #missao p {
    font-size: 25px;
  }

  #contato #email-telefone {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
    padding: 10px;
    width: 60vw;
  }

  #contato #email-telefone p {
    padding-right: 10px;
    padding-left: 10px;
  }

  #contato #email-telefone p,
  #contato #address p {
    font-size: 22px;
  }

  #contato .smedia-icon {
    width: 40px;
  }

  #footer p {
    font-size: 16px;
  }

  #text-separator {
    display: inline;
  }

  nav i,
  i,
  #icon-navbar,
  nav #icon-navbar-container {
    display: none;
  }
}




/* ---------STYLING THE 404 PAGE--------- */

#body-404 {
  display: flex;
  justify-content: center;
  height: 100vh;

}

#container-404 {
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #f4f4f4;
  color: #0d4269;
  padding: 10%;
  width: 60%;
  margin: auto;
  min-width: 500px;
  text-align: center;

}

#container-404 h1 {
  color: #00cde1;
  font-size: 40px;
}

#container-404 a {
  color: #00cde1;
  font-weight: 500;
  text-decoration: none;
}